a {
    text-align: center;
}

h1 {
    text-align: center;
    front-size:50px
}

h2 {
    color: yellowgreen;
    text-align: center;
    font-size: 50px;
}

input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0;
}

input[type=submit]{
    width: 100%;
    background-color: YellowGreen;
    color: White;
    padding: 12px 12px;
    border: none;
    border-radius: 6px;

}

body {
    background-color: darkgray;
    padding: 20px;
}

ˇ